deployKind: job # Deployment mode: job|daemonset
prefix: "" # prefix to the pod name, such as "hwameistor-"
registry: ghcr.io/hwameistor # Users in China may use mirror "daocloud.io/daocloud"
imagePullPolicy: IfNotPresent # For testing, set 'Always'

drbdVersion: v9.0.32-1 # another supported value is: 9.1.11
drbdUtilsVersion: v9.21.4
drbdReactorVersion: v0.8.0

# Here are all supported distros, remove the ones that are not in your cluster
distros: []  # Must be set as "[]" (empty array) to enable AutoDetect"
# - rhel7
# - rhel8
# - bionic
# - focal
# - jammy

# by default do not upgrade: (yes|no)
upgrade: "no"

# by default check hostname: (yes|no)
checkHostname: "yes"

# only apply to "deployKind: job"
# by default NOT deploying on masters (yes|no)
deployOnMasters: "no"

# only apply to "deployKind: daemonset"
# by default drop binary files to the host: (yes|no), 
drop: "yes"

# avoid master nodes, you may defind more here to avoid more nodes
affinity: {}
  # nodeAffinity:
  #   requiredDuringSchedulingIgnoredDuringExecution:
  #     nodeSelectorTerms:
  #     - matchExpressions:
  #       - key: node-role.kubernetes.io/master
  #         operator: DoesNotExist
  #       - key: node-role.kubernetes.io/control-plane
  #         operator: DoesNotExist